# Este archivo sirve para omitir los archivos o directorios que no queremos subir al repositorio.

# Estructura para IDE IntellijIDEA
.idea/*
out/*
*.iml

# Archivo de configuración de Hibernate
hibernate.properties

# Otros
/target/
src/main/resources/hibernate.properties